<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.Mapper.TeacherMapper">

    <select id="tfindAll" resultType="com.jk.Pojo.TeacherList">
        select * from teacher_list
    </select>

    <delete id="tdelete">
        delete from  teacher_list where teacher_number = #{num}
    </delete>
<!--    修改教师信息-->
    <update id="tupdate">
        update teacher_list set Teacher_name = #{teacher_name},
        Teacher_gender = #{teacher_gender},
        Teacher_age = #{teacher_age},
        Teacher_phone = #{teacher_phone},
        Teacher_major = #{teacher_major}
        where Teacher_number = #{teacher_number}
    </update>
<!--    模糊查询教师信息 -->
    <select id="tmohu" resultType="teacherList">
        select * from teacher_list
        <where>
            <if test="tnumber != null">
                and teacher_number = #{tnumber}
            </if>
            <if test="tname != null and tname != '' ">
                and teacher_name like concat ('%', #{tname},'%')
            </if>
            <if test="tmajor != null and tmajor != '' ">
                and teacher_major like concat ('%' ,#{tmajor},'%')
            </if>
        </where>
    </select>
</mapper>